.cartWindow {
  position: fixed;
  top: 3rem;
  right: 0;
  width: 28vw;
  height: 45vh;
  background-color: white;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 1rem;

  background-color: #1E212B;;
}

.cartWindow.show {
  transform: translateX(0%);
}

.cartWindow.hide {
  transform: translateX(100%);
}

.cartRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.beerImage {
    height: 100%;
    width: auto;
}
