.cartWindow {
  position: fixed;
  top: 4rem;
  right: 0;
  width: 28vw;
  height: 45vh;
  background-color: white;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  padding: 2rem;

  background-color: #235789;
  border: medium solid #4D8B31;
  border-top: none;

  overflow-y: scroll;
}

.cartWindow.show {
  transform: translateX(0%);
}

.cartWindow.hide {
  transform: translateX(100%);
}

.closeCart {
  position: absolute;
  top: 0;
  right: 0;

  aspect-ratio: 1 / 1;
  max-width: fit-content;
  min-width: fit-content;
}

.cartRow {
    min-height: fit-content;
    max-height: 10%;
}

.totalRow {
    margin-top: 10%;
    min-height: fit-content;
    max-height: 10%;
}

.cartRowContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%
}

.beerName{
  width: 60%;
}

.beerPrice{
  width: 25%;
}

.deleteBeer{
  aspect-ratio: 1 / 1;
  max-width: fit-content;
  min-width: fit-content;
  text-align: center;
  margin: auto auto;
}

.separator{
 width: 90%;
 height: 2px;
 justify-content: center;
 background-color: gray; 
}

.emptyCartMessage {
  text-align: center;
  margin: auto;
  margin-top: -2rem;
  font-size: x-large;
}

.completePurchase {
  margin: 1rem auto;
}