.headerBar {
    position: fixed;
    box-sizing: border-box; 

    width: 100vw;
    height: 4rem;
    padding: 0 2.5vw;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #235789;
    border-bottom: medium solid #4D8B31;
}

.logo {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    color: #F1D302;
    text-decoration: underline;
    cursor:pointer;
}

.linkBox {
    display: flex;
    gap: 20px;
}