.storePage {
    padding: 5vh 10vh;
}

.featuredTitle {
    font-size: x-large;
    padding-top: 3rem;
    color: black;
    font-weight: bolder;
    text-decoration: underline;
}

.beerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    height: 50vh;
    gap: 20px;
}

.paginationControls {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}